html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("./assets/ng-bolivia-background.png");
    background-repeat: no-repeat;
}
